<br>
<br>
  <div class='justify-center items-center'>
    <div>
      <h1>child_friendly_hotel</h1>
    </div>  
    <div>
      <h2>宿泊施設と子連れ宿泊客の口コミが探せるサービスです。</h2>
    </div> 
  
    <div>
      <%= link_to '地域から探す', class: "btn btn-success btn btn-xs transition hover:opacity-40 text-gray-500" %>
    </div>
  
    <div>
      <%= link_to '口コミから探す', class: "btn btn-success btn btn-xs transition hover:opacity-40 text-gray-500" %>
    </div>
  </div>
<br/>
<br/>
  


