<h1 class="text-3xl font-bold mb-6 text-center">マイページ</h1>
  <div class="text-center mt-4">
    <%= link_to '会員情報', edit_user_path, class: 'link link-primary' %>
  </div>
  <div class="text-center mt-4">
    <%= link_to 'お気に入り一覧', '#', class: 'link link-primary' %>
  </div>

  <div class="text-center mt-4">
    
  </div>