<footer class="footer footer-center p-4 bg-base-200 text-base-content rounded">
  <nav class="grid grid-flow-col gap-4 text-gray-500">
    <%= link_to 'プライバシーポリシー', privacy_path, class: "link link-hover" %>
    <%= link_to '利用規約', term_path, class: "link link-hover" %>
  </nav> 
</footer>