<footer class="footer footer-center p-4 bg-accent text-white rounded">
  <nav class="grid grid-flow-col gap-4 ">
    <%= link_to 'プライバシーポリシー', privacy_path, class: "link link-hover" %>
    <%= link_to '利用規約', term_path, class: "link link-hover" %>
    <!-- Rakuten Web Services Attribution Snippet FROM HERE -->
    <a href="https://webservice.rakuten.co.jp/" target="_blank"><img src="https://webservice.rakuten.co.jp/img/credit/200709/credit_22121.gif" border="0" alt="Rakuten Web Service Center" title="Rakuten Web Service Center" width="221" height="21"/></a>
    <!-- Rakuten Web Services Attribution Snippet TO HERE -->
  </nav> 
</footer>