<div class="navbar bg-base-100">
  <div class="flex-1">
    <!-- メニュー項目 -->
    <a href="#" class="btn btn-ghost text-xl">Home</a>
    <!-- もっと多くのメニュー項目を追加できます -->

    <!-- ドロップダウンメニューの例 -->
    <div class="group inline-block relative">
      <button class="btn btn-ghost text-xl">
        検索
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
        </svg>
      </button>
      <ul class="absolute hidden text-base-content bg-base-100 shadow-lg group-hover:block">
        <li><a href="#" class="block px-4 py-2">地域から探す</a></li>
        <li><a href="#" class="block px-4 py-2">口コミから探す</a></li>
        <!-- もっと多くのドロップダウンオプションを追加できます -->
      </ul>
    </div>
  </div>
  <div class="relative group">
  <button id="menuButton" class="btn btn-square btn-ghost">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path>
    </svg>
  </button>
  <ul id="menuList" class="absolute hidden text-base-content bg-base-100 shadow-lg w-48 ">
    <li><a href="#" class="block px-4 py-2">会員登録</a></li>
    <li><a href="#" class="block px-4 py-2">ログイン</a></li>
    <li><a href="#" class="block px-4 py-2">マイページ</a></li>
    <li><a href="#" class="block px-4 py-2">お問合せ</a></li>
    <!-- もっと多くのメニュー項目を追加できます -->
  </ul>
  <script>
  document.getElementById('menuButton').addEventListener('click', function() {
  document.getElementById('menuList').classList.toggle('hidden');
});
</script>
</div>


  </div>
</div>